.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /************************************************************************* */
  /************************************************************************* */
  
    
  .inscription{
    background-color: #e679b07d;
    height : 100%;
}
.title-inscription{
    color : #f9ca3d;
    font-size:-webkit-xxx-large;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
.title-inscription:hover{
    color : #ffffff;
    font-size:xx-large;
    transition-delay: 0.3s; /* delays for 1 second */
   -webkit-transition-delay: 0.3s; /* for Safari & Chrome */    
}
.alert{
    text-align: center;
    padding : 10px;
     background: #76eb487d;
    display: none;
}
/***************/
#contactForm{
  width :900px;
}